/* .container{
   display: flex;
    gap: 10px;
    justify-content:;
    background: blue;
    height: 1000px;
    align-items:;
}

.box{
    width: 100px;
    height: 100px;
    background: red;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-1{
    width:700px;
    height:300px;
    background:black;
    margin-bottom:10px;
    border-left: 12px solid red;
    border-right: 12px solid red;
    padding-left: 10px;
    padding-left: 10px;
}

.box-2{
    width:700px;
    height:300px;
    background:black;
    border-left: 12px solid red;
    border-right: 12px solid red;
    padding-left: 10px;
    padding-left: 10px;
     box-sizing: border-box; 
/* }
*/

.link{
    width:200px;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px 50px 10px 180px;
}
