* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f6f8f5;
  color: #0B4812;
  padding: 2rem;
}

.cart-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.cart-item h3 {
  font-size: 1.8rem;
}

.cart-item span {
  font-size: 1.6rem;
}

.cart-item button {
  border: none;
  background-color: #C6D6B5;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #a9c38e;
}

.cart-summary {
  text-align: center;
  margin-top: 3rem;
}

.cart-summary h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#checkout-btn,
.clear {
  background-color: #0B4812;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
}

.clear {
  background-color: #d33;
}



@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .cart-container {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }
}
