* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #0b4812;
  --secondary-color: #f8f8f8;
  --light-color: #c6d6b5;
  --text-color: #0b4812;
  --background-color: #f8f8f8;
}

body{
   color: var(--primary-color);
}

html{
   font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 43.7%;
  }
}

.btn{
   padding: 1rem 4rem;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   border: none;
   border-radius: 0.6rem;
   text-transform: capitalize;
   font-weight: 600;
   font-size: 1.8rem;
}


/* for header */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--light-color);
  position: relative;
  z-index: 1000;
}
.header__logo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.header__logo a img{
   width: 5rem;
   height: 5rem;
}
.header__wrapper span{
   color: var(--primary-color);
}

.navbar__items {
  display: flex;
  gap: 4rem;
  align-items: center;
}


.header__logo{
   font-size: 2.4rem;
}

.navbar__link,
.navbar__login,
.navbar__getStarted{
   font-size: 1.8rem;
   list-style-type: none;
}

.navbar__link a,
.navbar__login a,
.navbar__getStarted a{
   text-decoration: none;
   color: var(--primary-color);
}

.navbar__signup{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   gap: 2rem;
   flex-wrap: wrap;
}

.navbar__login,
.navbar__getStarted{
   border: 1px solid var(--primary-color);
   padding: 1rem 2.5rem;
   border-radius: 8px;
}

.navbar__login{
   background-color: var(--secondary-color);
}

.navbar__getStarted {
   background-color: var(--primary-color);
}
.navbar__getStarted a{
   color: var(--secondary-color);
}


.mobile__menu i{
   display: none;
   font-size: 4rem;
   font-weight: 800;
   cursor: pointer;
   color: var(--primary-color);
}

/* Medium Devices (Tablets) */
@media (max-width: 992px) {
  .header__wrapper {
    padding: 2rem 3rem;
  }

  .hero__heading {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .hero__paragraph {
    font-size: 1.6rem;
  }

  .why__choose--head,
  .about__head,
  .review__head {
    font-size: 2.6rem;
  }

  .about__description {
    font-size: 1.8rem;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}




@media(max-width: 600px){
   .mobile__menu i {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .navbar__items {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 75%;
    height: 100vh;
    background-color: var(--light-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 0 0 1rem 1rem;
  }

  .navbar__link{
   padding: 1.5rem;
  }
   .navbar__items{
      display: none;
   }

   .navbar__signup{
      margin-top: 4rem;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
   }

   .navbar__login,
   .navbar__getStarted{
      background-color: transparent;
      border: none;
      color: var(--secondary-color);
   }
}


/* for hero section */

.hero{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--secondary-color);
  z-index: 1;
  position: relative;
  height: 100vh;
}

.hero::before{
   content: "";
   position: absolute;
   inset: 0;
   background-image: url("img/landingImg.jpg");
   background-size: cover;
   background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
   filter:brightness(40%);
   z-index: 0;
}


@media (min-width: 900px) {
  .hero { background-attachment: fixed; }
}

@media(max-width: 600px){

.hero {
   align-items: center;
   justify-content: center;
   width: 100%;
}

.hero__description{
   width: 100%;
   padding: 5rem 0 0 0;
   align-items: center;
   justify-content: center;
}
.hero__paragraph,
.hero__heading{
   width: 70%;
   text-align: center;
   padding: 2rem;
}


}

.hero__wrapper {
   position: relative;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 5rem;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__description{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 500px;
}
.hero__heading{
  font-size: 4rem;
  line-height: 5rem;
  text-transform: capitalize;
}

.hero__paragraph{
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--secondary-color);
}


.btn__signup{
   border: 1px solid var(--primary-color);
   background-color: var(--light-color);
   color: var(--primary-color);  
}

.hero__btn{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}
.btn__getstarted{
   border: 1px solid var(--light-color);
   background-color: var(--primary-color);
   color: var(--secondary-color); 
}

.hero__trust{
   border: 1px solid var(--primary-color);
   background-color: var(--light-color);
   color: var(--primary-color);
   border-radius: 2rem;
   padding: 1rem;
   width: 30rem;
   text-align: center;
   font-size: 1.2rem;
}

@media(max-width: 600px){
   .btn__signup,
   .btn__getstarted{
      width: 100%;
   }
}

.hero__statistics{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   background-color: var(--light-color);
   color: var(--primary-color);
   padding: 3rem;
   gap: 3rem;
}

.hero__stats{
   display: flex;
   flex-direction: column;
   /* flex-wrap: wrap; */
   gap: 2rem;
   justify-content: center;
   /* align-items: center; */
   margin: auto;
}

@media(max-width: 600px){
   .hero__stats,
   .hero__statistics{
      width: 100%;
   }

   .hero__stats{
      align-items: center;
      gap: 1rem;
   }
}
.hero__stats h3{

   font-size: 3rem;
}
.hero__stats p{
   font-size: 2rem;
   text-align: start;
}

/* why section */

.why{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 3rem;
   flex-direction: column;
   padding: 0 5rem;
}


.why__choose{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50rem;
   gap: 1rem;
}

.why__choose--head{
   text-align: center;
   font-size: 3rem;
   margin-top: 5rem;
}

.why__choose--paragraph{
   font-size: 1.8rem;
   text-align: center;
   line-height: 1.6;
}


.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

@media(max-width: 600px){

.cards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 5rem;
}

.card__icon__wrapper{
   width: 100%;
}
.btn__farmer{
   width: 100%;
}

.card {
   width: 100%;
}

}
.card__icon__wrapper {
  height: 4rem;
  flex-wrap: wrap;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.card__icon__wrapper.primary {
  background-color: var(--light-color);
}
.card__icon__wrapper.secondary {
  background-color: var(--secondary-color);
}

.card__icon__wrapper > i {
  color: var(--primary-color);
  font-size: 2.6rem;
}

.card {
  box-shadow:  6px 5px 16px -4px rgba(131, 195, 147, 1.0);
  padding: 2rem 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s;
  font-size: 1.8rem;
}

.card:hover {
  box-shadow:  6px 5px 16px -4px rgb(27, 66, 37);
  transform: translateY(-4px);
}

/* for about section */

.about__head{
   font-size: 3rem;
   text-align: center;
   padding: 5rem 0 0;
}

.about__wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 4rem;
   padding: 4rem 6%;
}

@media(max-width: 600px){
   .about__wrapper,
   .about__img,
   .about__description{
      width: 100%;
   }


}
.about__img{
  width: 450px;
 box-shadow:  6px 5px 16px -4px rgba(131, 195, 147, 1.0);
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}
.about__description{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  font-size: 2rem;
}

.about__btn{
   display: flex;
   flex-wrap: wrap;
   margin-top: 3rem;
   gap: 2rem;
}
@media(max-width: 600px){
   .about__btn{
      /* flex-direction: column; */
      width: 100%;
   }

   .getStarted__btn,
   .explore__btn{
      width: 100%;
   }
   
}

.getStarted__btn{
   border: 1px solid var(--primary-color);
   background-color: transparent;
   color: var(--primary-color);
   font-weight: 500;
}

.explore__btn{
   font-weight: 500;
   border: 1px solid var(--primary-color);
}

/* for review */
.review{
   padding: 5rem;
}

.review__head{
   font-size: 3rem;
   text-align: center;
   padding: 3rem;
}
.review__card{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   box-shadow:  6px 5px 16px -4px rgba(131, 195, 147, 1.0);
   padding: 2rem;
   border-radius: 8px;
}
.review__card:hover{
   box-shadow:  6px 5px 16px -4px rgba(24, 58, 32, 1.0)
}

.review__wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  padding:5rem 5rem 0;
}
@media(max-width: 600px){

.review__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 5rem;
}
}
.review__img{
   width: 7rem;
   height: 7rem;
}
.review__stars i{
   font-size: 2rem;
   color: gold;
}
.review__details{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.review__paragraph{
   font-size: 1.8rem;
   line-height: 1.6;
}

/* for footer */

.footer{
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

.footer__wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 2rem;
   margin: 3rem 2rem;
   padding: 5rem;
}

.footer__logo{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   gap: 1rem;
   color: var(--secondary-color);
}

/* .footer__head{
   font-size: 2rem;
   font-weight: 600;
} */
.footer__logo a img{
   width: 5rem;
   height: 5rem;
}
.footer__wrapper span{
   color: var(--primary-color);
}
@media(max-width: 600px){
   .footer__wrapper{
      grid-template-columns: 1fr;
   }
}
.footer__contact{
   width: 25rem;
}
.footer__contact,
.footer__links{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.footer__contact h1{
   font-size: 2rem;
}
.footer__contact h4,
.footer__links h4{
   font-size: 1.8rem;
}
.footer__contact p,
.footer__links a{
   color: var(--secondary-color);
   font-size: 1.4rem;
   text-decoration: none;
   line-height: 1.6;

}

.footer__downloads{
   display: flex;
   gap: 2rem;
}

.footer__downloads img{
   width: 4rem;
   height: 3rem;
}

.copywrite{
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   padding: 3rem;
   border-top: 1px solid var(--secondary-color);
}

.copywrite p{
   font-size: 1.6rem;
   text-align: center;
   margin: 2rem;
}
.copywrite a{
   font-size: 4rem;
   color: var(--secondary-color);
}
.copywrite span{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}


@media (max-width: 400px) {
  .hero__heading {
    font-size: 2.2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
  }

  .why__choose {
    width: 100%;
  }

  .review__card {
    padding: 1.5rem;
  }

}
