
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
    }

    body {
      background-color: var(--background-color);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    :root {
  --primary-color: #0b4812;
  --secondary-color: #f8f8f8;
  --light-color: #c6d6b5;
  --text-color: #0b4812;
  --background-color: #f8f8f8;
    }


    /* Main Section */
    .forgot-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      padding: 5rem;
    }

    

    .forgot-container h1 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: var(--text-color);
    }

    .forgot-container p {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: var(--text-color);
    }

    .forgot-container input {
      width: 300px;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid var(--primary-color);
      border-radius: 6px;
      font-size: 2rem;
    }

    .forgot-container button {
      width: 300px;
      padding: 10px;
      background-color: var(--primary-color);
      color: var(--background-color);
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 2rem;
      margin-bottom: 15px;
      transition: 0.3s;
    }

    .forgot-container button:hover {
      background-color: var(--light-color);
    }

    @media (max-width: 600px) {
      .forgot-container input, 
      .forgot-container button {
        width: 100%;
      }
    }