*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;
}

.main-content{
    padding: 3rem 6rem;
}

.heading{
    display: flex;
    gap: 8px;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.heading-product-name{
    color: #0B4812;
}
.heading-home,
.heading-marketplace,
.heading-product-name {
  display: flex;
  align-items: center;
  /* gap: 4px; */
}

.heading span {
  display: flex;
  align-items: center;
}



.product-image-description-content{
    display: flex;
    justify-content: space-between;
}

.product-description{
    width: 50%;
}
.product-description-paragraph{
    color: #0B4812;
    font-size: 1.4rem;
}
.product-description-heading{
    font-size: 4rem;
    color: #0B4812;
}
.description-heading{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.product-description-btn{
    width: 8rem;
    height: 2rem;
    background-color: #C6D6B5;
    border-radius: 8px;
    border: none;
    /* align-self: center; */
}

.star-rating{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0;
}

.star-rating-paragraph{
    font-size: 1.4rem;
    color: #0B4812;
    font-weight: 700;
}
.product-description-stars {
    display: flex;
    gap: 1.5rem;
    /* margin: 1rem 0; */
}
.product-description-stars > i{
    color: #0B4812;
    font-size: 2.5rem;
}
/* .thin-star{
    color: violet;
    border: none;
} */

.paragraph{
    font-size: 2rem;
    color: #0B4812;
    font-weight: 600;
}

.price-heading{
    font-size: 3rem;
    color: #0B4812;
    margin: 1rem 0;
    font-weight: 600;
}

.quantity-section{
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
}
.quantity-heading{
    font-size: 2rem;
    color: #0B4812;
    font-weight: 600;
}
.quantity-btn{
    width: 4rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}
.primary-btn{
    color: #000;
    background-color:gainsboro;
}
.secondary-btn{
    color: #0B4812;
    background-color: #fff;
}
.cart-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-buttons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.cart-btn{
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}
.add-btn{
    background-color: #0B4812;
    color: #fff;
}
.contact-btn{
    background-color: #C6D6B5;
    color: #0B4812;
}
.safety-card{
    background-color: #C6D6B5;
    border-radius: 1rem;
    padding: 0.5rem;
    color: #0B4812;
    font-weight: 600;
}

.tips-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}
.rate-review-section{
    display: flex;
    gap: 5rem;
    margin: 2rem 0;
    /* align-items: center; */
}

.rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rate-stars>i{
    font-size: 2rem;
}
.review{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.submit-btn{
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 17rem;
}
textarea{
  width: 25rem;
  height: 10rem;
  resize: none;
  overflow: auto;
  border-radius: 1rem;
  border: 1px solid #0B4812;
}

/* all image styling  */
.image{
    width: 56rem;
    height: 26rem;
    background-image:url(IMAGES/carrot-image.jpg);
    background-size: cover;
    border-radius: 1rem;
}

.ph-caret-right{
    font-weight: 700;
    font-size: 2rem;
}

.image-card{
    display: flex;
    justify-content: space-between;
}
.image-card2{
    display: flex;
    /* justify-content: space-between; */
    gap:2rem;
    margin-bottom: 3rem;
}

.image-content-heading{
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}
.image-content-heading2{
    margin-bottom: 2rem;
    /* text-decoration: underline; */
}
.image-content-heading2 > a{
    color: black;
}
.image1,.image2,.image3,.image4{
    width: 28rem;
    height: 20rem;
    border: 2px solid #0B4812;
    border-radius: 1rem;
    background-size: cover;
}

.tomato-image{
    background-image: url(IMAGES/tomato-image.jpg);
    width: 38rem;
    height: 16rem;
    border: 1px solid #0B4812;
    border-radius: 1rem;
    background-size: cover;
}

.beans-image{
    background-image: url(IMAGES/beans-image.jpg);
    width: 38rem;
    height: 16rem;
    border: 1px solid #0B4812;
    border-radius: 1rem;
    background-size: cover;
}

.banana-image{
    background-image: url(IMAGES/banana-image.jpg);
    width: 38rem;
    height: 16rem;
    border: 1px solid #0B4812;
    border-radius: 1rem;
    background-size: cover;
}
.image1{
    background-image: url(IMAGES/tomato-image.jpg);
}

.image2{
    background-image: url(IMAGES/goat-image.jpg);
}

.image3{
    background-image: url(IMAGES/groundnut-image.jpg);
}

.image4{
    background-image: url(IMAGES/rabbit-image.jpg);
}