

.nav-links a.active {
  color: #256a32;
  font-weight: bold;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signout-btn {
  background: #256a32;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

 /* fARM PROFILE  */
.farm-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.farm-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  background: white;
  padding: 1.5rem 3rem;
  margin-top: -60px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.farm-avatar{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
}

.farm-avatar h2{
   margin-bottom: 0.5rem;
  font-size: 2rem;
}
.farm-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
}

.farm-info{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

.farm-meta{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.farm-meta span {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: #555;
  font-size: 1.4rem;
}

.message-btn {
  background: #256a32;
  color: white;
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 6px;
  cursor: pointer;
}

/* TABS */
.tabs {
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
  background: white;
  margin-top: 1rem;
}

.tab-btn {
  
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
}

.tab-btn.active {
  border-bottom: 2px solid #256a32;
  color: #256a32;
}

 /* TAB CONTENT */
.tab-content {
  display: none;
  padding: 1.5rem 3rem;
  background: white;
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.tab-content.active {
  display: block;
  font-size: 1.6rem;
}

 /* PRODUCTS  */
.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f7f3;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  flex-wrap: wrap;
}

.product-item img {
  width: 120px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.product-details {
  flex: 1;
  margin-left: 1rem;
}

.quote-btn {
  background: #256a32;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.see-more {
  text-align: center;
  color: #256a32;
  cursor: pointer;
  margin-top: 1rem;
}

 /* REVIEWS  */
.review-item {
  background: #f3f7f3;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media(max-width: 600px){
  .review-header{
    flex-direction: column;
    width: 100%;
  }

  .review-header img{
    width: 100%;
  }
}