*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #0080ff;
}

form{
  width: min(90%, 25em);
  background-color: aliceblue;
  position: absolute;
  transform: (-50%, -50%);
  top: 25%;
  left: 30%;
  padding: 5rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.error-message{
  color: #ff3434;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

input, button{
  display: block;
  width: 100%;
  padding: 1em;
  outline: none;
  color: white;
  border: none;
  border-radius: 0.3em;
  transition: backgroung-color 0.3s ease;
}

input{
  background-color: #e2e2e2;
  margin-top: 2.5em;
  border: 1px solid #0080ff;
  color: #ff3434;
}

button{
  background-color: #0080ff;
  margin-top: 2.5em;
  color: white;
}

/* for shake animation */
.shake{
  animation: shake 0.5s ease-out;

}

@keyframes shake{
  0%{
    transform: translate(0);
  }

   25%{
    transform: translate(-5px);
  }

   50%{
    transform: translate(5px);
  }

   75%{
    transform: translate(-5px);
  }

   100%{
    transform: translate(0);
  }
}